*{  
    box-sizing:border-box;
}
body{
 background-color:#eeeeee;
}
nav{
  background-color: #01579b;
}
.nav-wrapper, body h3{
  font-family: 'Gloria Hallelujah', cursive;
  font-size: 3em;
  font-weight:bolder;
  letter-spacing: 0.3em;
  text-align: center;
}
.nav-wrapper{
  color:white;
}
body h3{
  color:black;
  letter-spacing:0.1em;
} 

figure img{
  position: static;
  border-radius: 50%;
  height: 30em;
  width:30em;
  }
  #img1{
    position:relative;
    top:5em;
    left:25em;
  }
  #img2{
    position: relative;
    top:5em;
    left:45em;
  }

.figcaption h3{
  font-size:5em;
  font-weight: bolder;
  color:white;
  font-family: 'Gloria Hallelujah', cursive;
  background-color: #e0f2f1;
  text-align: center; 
}

.studlogin{
background-image:linear-gradient(rgba(1, 88, 155, 0.589),
rgba(45, 114, 167, 0.315)),url(slogin2.jpg);
background-size:cover;
background-repeat:no-repeat;
height: 40vh;


}
#table_login{
  width:50em;
  height:10em;
  position: relative;
  top:8em;
  left:18em;
  font-family:'Josefin Sans', sans-serif;
  opacity:1;

}
.welcome{
  font-family:'Josefin Sans', sans-serif;
  font-size:3em;
  font-weight:bolder;
  position: relative;
  top:2em;
  left:10em;
  color: #eeeeee;
}

  