*{  
    box-sizing:border-box;
}
body{
 background-color:#eeeeee;
}
nav{
  background-color: #01579b;
}
.nav-wrapper, body h3{
  font-family: 'Gloria Hallelujah', cursive;
  font-size: 3em;
  font-weight:bolder;
  letter-spacing: 0.3em;
  text-align: center;
}
.nav-wrapper{
  color:white;
}
body h3{
  color:black;
  letter-spacing:0.1em;
} 

figure img{
  position: static;
  border-radius: 50%;
  height: 20em;
  width:20em;
  }
  #img1{
    position:relative;
    top:5em;
    left:35em;
  }
  #img2{
    position: relative;
    top:5em;
    left:55em;
  }

.figcaption h3{
  font-size:5em;
  font-weight: bolder;
  color:white;
  font-family: 'Gloria Hallelujah', cursive;
  background-color: #e0f2f1;
  text-align: center; 
}

.studlogin{
background-image:linear-gradient(rgba(1, 88, 155, 0.589),
rgba(45, 114, 167, 0.315)),url(../photos/bg.jpg);
background-size:cover;
background-repeat:no-repeat;
height: 40vh;


}
#table_login{
  width:50em;
  height:10em;
  position: relative;
  top:8em;
  left:18em;
  font-family:'Josefin Sans', sans-serif;
  opacity:1;

}
.welcome{
  font-family:'Josefin Sans', sans-serif;
  font-size:3em;
  font-weight:bolder;
  position: relative;
  top:2em;
  left:10em;
  color: #eeeeee;
}
.rect1{
  margin-top: 10em;
}
#rect{
 padding:2em;
 margin-left: 5em;
 margin-bottom:5em;
 width: 50em;
 height:4em;
 transform: skew(20deg);
 background:	#E8E8E8;
 font-family:'Gloria Hallelujah', cursive;
 font-size: 1.5em;
 color: #01579b;
 font-weight: bold;
 letter-spacing: 0.2em;
 
}
#rect i{
  color: green;
}
.subBut{
  background-color:#01579b !important;
  position: relative;
  top:12em;
  left:20em;
}

  